{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static "myblog/css/index.css" %}">
<!-- About -->
<header class="masthead"  style="background-image: url('{% static 'myblog/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container " id="about">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                <h1 class="mb-0 text-center ">
                  <span> Vũ Quyết</span>
                </h1>
                <div class="subheading mb-5 text-right"> 26/27 Phan Van Truong Ward, Cau Giay District, Ha Noi, Viet Nam (+84) 0359296186 ·
                  <a class="text-light" href="mailto:quyeta2ubqn@gmail.com">quyeta2ubqn@gmail.com</a>
                </div>
                <p class="lead mb-5">I love Japanese culture and people. I'm learning Japanese.
                    With a passion for technology, I wish that someday, I can work in the land of the sun.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Education -->
<section class="edu p-3 p-lg-5 d-flex align-items-center" style="background-image: url('{% static 'myblog/img/edu.jpg' %}')" id="education">
    <div class="overlay"></div>
      <div class="site w-100 col-md-8 col-md-10 mx-auto">
        <h1 class="mb-5">Education</h1>

        <div class="item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="content">
            <h3 class="mb-0">Ha Noi University of Science and Technology</h3>
            <div class="subheading mb-3">School of Electronics and Telecommunications</div>
            <div>Program Embedded for Microcontrollers</div>
            <p>GPA: 2.5</p>
          </div>
        </div>

        <div class="item d-flex flex-column flex-md-row justify-content-between">
          <div class="content">
            <h3 class="mb-0">SIPLAB - Signal Information Procees Laboratory</h3>
            <div class="subheading mb-3">Research student</div>
             <div>Research, program the microcontroller lines: 8051, PIC16F877A, ARM</div>
         </div>
        </div>
      </div>
    </section>
<!-- Project -->
<section class="project " id="project" style="background-image: url('{% static 'myblog/img/project.jpeg' %}')">
<div class="container" >
    <div class="site w-100 col-md-8 col-md-10 mx-auto">
    <h1 class="mb-5">Project</h1>
    </div>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}         <!-- su dung vong for de hien thi cac thuoc tinh: tieu de, tac gia, noi dung, ngay viet -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h7 font-italic">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.introduction }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>

<!-- Interests -->
<section class="interests p-3 p-lg-5 d-flex align-items-center" id="interests" style="background-image: url('{% static 'myblog/img/interests.jpeg' %}')">
    <div class="overlay"></div>
    <div class=" text w-100 col-md-8 col-md-10 mx-auto">
        <h2 class="mb-5">Interests</h2>
        <h6><p>I like traveling, I want to experience culture and life in many places. Let's look back at the places I've been.
        I love taking photos of people and nature</p></h6>
        <div class="row">
            <div class="column">
            <div class="polaroid col-md-8 mt-3 left ">
            <img src="/static/myblog/img/dulich_socson.jpg">
                <div class="container">
              <p>Soc Son Mountain</p>
              </div>
                <img src="/static/myblog/img/dulich_maichau.jpg" alt="Soc Son Mountain">
                <div class="container">
              <p>Mai Chau travel</p>
              </div>
            </div>
            </div>
        </div>
        <div>
        <h6><p class="mb-0">Books teach me many things, so I always try to spend time reading.
            My favorite book is: <i> How to Win Friends and Influence People (Đắc Nhân Tâm) -  Dale Carnegie</i></p></h6>
        </div>
        <h6><p class="mb-0">I like to play soccer with friends at school, at the company. Football helps me connect with people.</p></h6>
        <div class="row">
            <div class="column">
                <div class="polaroid col-md-8 mt-3 left ">
                    <img src="/static/myblog/img/bongda_c3.jpg" >

                      <p>Highschool Team</p>

                    <img src="/static/myblog/img/bongda_fpt.jpg" >
                      <p>Fsoft Team</p>
                </div>
                </div>
        </div>
        <h4> <p> For me failure is not scary. I believe if I have the determination, I will do what I want.
            Even if I have to trade time, youth, money. I like a Japanese saying: <i> 七転び八起き(ななころびやおき)</i></p></h4>
      </div>
    </section>


{% endblock %}