{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<!-- About -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container .bg-light" id="about">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                <h1 class="mb-0 ">Vũ
                  <span class="text-primary" >Quyết</span>
                </h1>
                <div class="subheading mb-5">số 26 ngõ 27 Phan Văn Trường Cầu Giấy Hà Nội Việt Nam (+84) 359296186 ·
                  <a href="mailto:quyeta2ubqn@gmail.com">quyeta2ubqn@gmail.com</a>
                </div>
                <p class="lead mb-5">Tôi là một người yêu thích văn hóa và con người Nhật Bản. Với niềm đam mê công nghệ, tôi
                                    mong muốn một ngày không xa, mình có thể làm việc tại xứ sở mặt trời mọc</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Education -->
<section class="blog-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="blog-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="blog-content">
            <h3 class="mb-0">Đại học Bách Khoa Hà Nội</h3>
            <div class="subheading mb-3">Cử nhân điện tử viễn thông</div>
            <div>Lập trình Nhúng</div>
            <p>GPA: 2.5</p>
          </div>

          <div class="blog-date text-md-right">
            <span class="text-primary">9/2013 - 5/2019</span>
          </div>
        </div>

        <div class="blog-item d-flex flex-column flex-md-row justify-content-between">
          <div class="blog-content">
            <h3 class="mb-0">SIPLAB - Signal Information Procees Laboratory</h3>
            <div class="subheading mb-3">Sinh viên nghiên cứu</div>
             <div>Nghiên cứu, lập trình các dòng vi điều khiển: 8051, PIC16F877A, ARM</div>
         </div>
          <div class="blog-date text-md-right">
            <span class="text-primary">9/2016 - 6/2017</span>
          </div>
        </div>
      </div>
    </section>

..............................
<div class="container" id="project">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}         <!-- su dung vong for de hien thi cac thuoc tinh: tieu de, tac gia, noi dung, ngay viet -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock %}